@model IEnumerable<PhanXuanBac_22103100089.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Search";
    Layout = "_DanhSachHangHoa";
}

<h1>Search</h1>
@await Html.PartialAsync("ProductItem", Model)
